.container {
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 2;
}

.button {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
  border: 1px solid rgb(244, 243, 243);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-top: 30px;
}

/* .image {
} */

.text {
  font-weight: 600;
  color: rgb(45, 43, 43);
}

.dropdown {
  width: 20px;
}

.section {
  position: absolute;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  top: 90px;
  left: 20px;
}

.options {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.label {
  color: grey;
  font-weight: 500;
}

.select {
  width: 120px;
  height: 30px;
  padding-left: 10px;
  font-weight: 600;
  border: 1px solid rgb(201, 196, 196);
  border-radius: 5px;
}

.select:focus {
  outline: none;
}

/* .option {
} */
